/*
 * @Author: Your name
 * @Date:   2020-03-30 22:51:28
 * @Last Modified by:   Your name
 * @Last Modified time: 2020-03-30 22:56:52
 */
.headerStyle {
    margin: 0.6em;
    border-radius:0.3em;
    border: 2px solid #d2d2d2;
    padding: 2em 0.4em;
    font: monospace;
    font-size: 17px;
    text-align:center
};