/*
 * @Author: Your name
 * @Date:   2020-03-26 21:39:34
 * @Last Modified by:   Your name
 * @Last Modified time: 2020-03-26 21:49:32
 */

.imagens{
    max-width: 300px;
    margin: 1em auto;
}

.card{
    padding: 1em;
    border: 1px solid #e1e1e1;
    background-color: #fff;
    margin: 1em 0;
    border-radius: 0.4em;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.17);
}

.image{
    width: 100%;

}

.footer{
    padding: 0.5em 0;
    font-size: 10px;
    text-align: center;
    font-family: monospace;
    
}

.avatar{
    width: 25px;
    border-radius: 50%;
}