/*
 * @Author: Your name
 * @Date:   2020-04-04 18:18:26
 * @Last Modified by:   Your name
 * @Last Modified time: 2020-04-04 18:46:50
 */

 @keyframes showUp{

    0%{
        background: black;
        transform: scale(0.1) rotate(250deg);
    }

    100%{
        background: orangered;
        transform: scale(1) rotate(0deg);
    }
 }

.header{
    background:#3d1f9a; 
    transform:scale(0.5);
    margin: 0.6em;
    position:relative;
    color:white;
    border-radius:0.8em;
    border: 1px solid #d2d2d2;
    padding: 2em 0.4em;
    font-family: monospace;
    font-size: 27px;
    text-align: center;
    transition:all 800ms ease-out;
}

.header-active{
    animation: 1500ms showUp ease-in-out;
    animation-fill-mode: forwards; 
}