/*
 * @Author: Your name
 * @Date:   2020-04-05 21:28:56
 * @Last Modified by:   Your name
 * @Last Modified time: 2020-04-05 22:08:48
 */
.Carrousel_img{
    height: 100%;
    position:absolute;
    top: 0;
    width: 100%;
    
}



.Carrousel{
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
    position: relative;
}

.Carrousel_Buttons{
    position: absolute;
    top: 0.6em;
    z-index: 10;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Carrousel_Buttons_rigth{
    position: absolute;
    top: 0.6em;
    z-index: 10;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 90%;
    right: 0%;
    
}

.slide-enter{
    position: absolute;
    transform: translateX(-100%);
    opacity: 0;
}
.slide-enter-active{
    position: absolute;
    transform: translateX(0%);
    opacity: 1;
    transition: all 1s ease;
}
.slide-exit{
    position: absolute;
    transform: translateX(0%);
    opacity: 1;

}

.slide-exit-active{
    transition: all 1s ease;
    position: absolute;
    transform: translateX(100%);
    opacity: 0;
}


html,body{
    margin: 0;
    padding: 0;
}

.div{
    width: 100%;
    max-width: 400px;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    top:0;
    position: relative;
}