/*
 * @Author: Your name
 * @Date:   2020-04-05 01:15:11
 * @Last Modified by:   Your name
 * @Last Modified time: 2020-04-05 21:37:37
 */
/*********/
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&display=swap');

html,body{
    margin: 0;
    padding: 0;
}



@keyframes show{
    0%{
        z-index: 1;
        transform: scale(0.7);
        opacity: 0;
    }

    100%{
        z-index: 1;
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes hide{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}
.animate-show{
    animation: 550ms show ease-out;
    animation-fill-mode: forwards;
}

.animate-hide{
    animation: 550ms hide ease-out;
    animation-fill-mode: forwards;
}


 .Slide{
    width: 100vw;
    height: 100vh;
    background: black;
    color: aliceblue;
}

.Slide_container{
    width: 100%;
    max-width: 400px;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    top:0;
    position: relative;
}

.imagen{
    height: 100%;
    position:absolute;
    top: 0;
}

.Slide_titulo{
    position: absolute;
    bottom: 0;
    z-index: 50;
    width: 100%;
    line-height: 9;
    background: linear-gradient(0deg, black,transparent);
    padding: 0 1em;
    text-shadow: 1px 1px black;
    font-family: 'IM Fell French Canon SC', serif;
    font-size: larger;
    text-align: center;
}