/*
 * @Author: Your name
 * @Date:   2020-04-05 16:49:22
 * @Last Modified by:   Your name
 * @Last Modified time: 2020-04-05 16:56:06
 */
.box{
    font-size: 50px;
    width: 100px;
    margin:1em auto;
    position: relative;
}

.fade-enter{
    position: absolute;
    transform: translateY(-100%);
    opacity: 0;
}

.fade-enter-active{
    position: absolute;
    transform: translateY(0%);
    opacity: 1;
    transition: all 1000ms ease-in;
    
}

.fade-exit{
    position: absolute;
    transform: translateY(0%);
    opacity: 1;
}

.fade-exit-active{
  position: absolute;
    transform: translateY(-100%);
    transition: all 1000ms ease-out;
    
    opacity: 0;
}