/*
 * @Author: Your name
 * @Date:   2020-03-24 22:29:19
 * @Last Modified by:   Your name
 * @Last Modified time: 2020-03-24 22:29:19
 */
.box{
    padding: 1em;
    box-sizing: border-box;
    border-radius: 0.2em;
}

.red{
    border: 1px solid red;
}

.purple{
    border: 1px solid purple;
}