/*
 * @Author: Your name
 * @Date:   2020-04-02 17:14:51
 * @Last Modified by:   Your name
 * @Last Modified time: 2020-04-02 17:20:33
 */
.box{
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.3em;
    border:4px dashed gray

}

.blue{
    border:4px dashed cyan
}

.red{
    border:4px dashed rosybrown
}

.green{
    border:4px dashed greenyellow
}