/*
 * @Author: Your name
 * @Date:   2020-03-23 21:17:09
 * @Last Modified by:   Your name
 * @Last Modified time: 2020-03-24 15:18:48
 */
.card{
    border:1px solid black;
    margin-bottom :1em;
    border-radius:0.5em;
    padding:1em;
    background:#FFF;
    color:#000;
    transition:all 500ms ease-out;
}

.card-active{
    background:linear-gradient(45deg,black,#4a02f7);
    color:#FFF;
}